---
layout: default
title: Proud Potato Peeler
---

{% include navbar.html %}
<div
  class="min-h-screen text-slate-900 overflow-x-hidden"
  style="
    background-image: url(&quot;assets/images/background.webp&quot;);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  "
>
  {% include potato/hero.html %} {% include potato/banner.html %} {% include
  potato/about.html %} {% include potato/gallery.html %} {% include
  potato/bigger.html %} {% include potato/inspired.html %} {% include
  potato/dedicated.html %} {% include potato/gallery2.html %} {% include
  potato/banner.html %} {% include potato/menu.html %} {% include
  potato/banner.html %} {% include potato/testimonial.html %} {% include
  potato/gallery3.html %} {% include potato/faq.html %} {% include
  potato/map.html %} {% include potato/banner.html %}
</div>
