<!------------ Technical Metadata ------------>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#ffffff" />

<!------------ SEO TITLE ------------>
<title>{{ page.seo.title | default: page.title | default: site.title }}</title>

<!------------ DESCRIPTION (SEO SAFE) ------------>
<meta
  name="description"
  content="{{ page.seo.description 
    | default: page.excerpt 
    | default: site.description 
    | strip_html 
    | strip_newlines 
    | truncate: 160 }}"
/>

<!------------ CANONICAL ------------>
<link rel="canonical" href="{{ page.url | absolute_url }}" />

<!------------ ROBOTS ------------>
<meta name="robots" content="max-image-preview:large" />
{% if page.seo.hide-from-google == true %}
<meta name="robots" content="noindex, nofollow" />
{% else %}
<meta name="robots" content="index, follow" />
{% endif %}

<!------------ SOCIAL IMAGE (SAFE FALLBACK) ------------>
{% assign social_image = page.seo.social_image | default: site.og_image |
default: '/assets/images/the-potato-heroes.png' %}

<!------------ OPEN GRAPH ------------>
<meta
  property="og:title"
  content="{{ page.seo.title | default: page.title | default: site.title }}"
/>

<meta
  property="og:description"
  content="{{ page.seo.description 
    | default: page.excerpt 
    | default: site.description 
    | strip_html 
    | strip_newlines 
    | truncate: 200 }}"
/>

<meta property="og:image" content="{{ social_image | absolute_url }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ site.title }}" />

<!------------ TWITTER ------------>
<meta
  name="twitter:card"
  content="{{ page.seo.twitter_card | default: 'summary_large_image' }}"
/>

<meta
  name="twitter:title"
  content="{{ page.seo.title | default: page.title | default: site.title }}"
/>

<meta
  name="twitter:description"
  content="{{ page.seo.description 
    | default: page.excerpt 
    | default: site.description 
    | strip_html 
    | strip_newlines 
    | truncate: 200 }}"
/>

<meta name="twitter:image" content="{{ social_image | absolute_url }}" />

<!------------ FAVICON ------------>
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/favicon-192x192.png' | relative_url }}" />

<!------------ FONTS (OPTIMIZED) ------------>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin />
<link rel="preconnect" href="https://unpkg.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
  rel="stylesheet"
  media="print"
  onload="this.media = 'all'"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
  media="print"
  onload="this.media = 'all'"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
  rel="stylesheet"
  media="print"
  onload="this.media = 'all'"
/>

<noscript>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />
</noscript>

<!------------ FONT AWESOME ------------>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!------------ STYLES ------------>
<link rel="stylesheet" href="{{ '/assets/css/output.css' | relative_url }}?v={{ site.time | date: '%s' }}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v={{ site.time | date: '%s' }}" />

<!------------ AOS (NON-BLOCKING) ------------>
<link
  rel="preload"
  href="https://unpkg.com/aos@2.3.4/dist/aos.css"
  as="style"
  integrity="sha384-/rJKQnzOkEo+daG0jMjU1IwwY9unxt1NBw3Ef2fmOJ3PW/TfAg2KXVoWwMZQZtw9"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  href="https://unpkg.com/aos@2.3.4/dist/aos.css"
  integrity="sha384-/rJKQnzOkEo+daG0jMjU1IwwY9unxt1NBw3Ef2fmOJ3PW/TfAg2KXVoWwMZQZtw9"
  crossorigin="anonymous"
  media="print"
  onload="this.media = 'all'"
/>

<noscript>
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" integrity="sha384-/rJKQnzOkEo+daG0jMjU1IwwY9unxt1NBw3Ef2fmOJ3PW/TfAg2KXVoWwMZQZtw9" crossorigin="anonymous" />
</noscript>

<!------------ CLOUDCANNON ------------>
<link rel="stylesheet" href="/editor.css" />
