<!-- WHERE TO FIND US SECTION -->
<section
  id="findus"
  class="py-14"
  style="
    background-image: url(&quot;assets/images/background.webp&quot;);
    background-size: cover;
    background-position: center;
  "
>
  <div class="mx-auto max-w-6xl px-4 lg:px-0">
    <h2
      class="text-4xl md:text-5xl font-bold text-center mb-4"
      style="font-family: Montserrat"
    >
      Where to Find Us
    </h2>
    <p class="text-center text-sm mb-8" style="font-family: Montserrat">
      Looking forward to serving you.
    </p>

    <div
      class="mt-10 rounded-3xl overflow-hidden shadow-lg border border-black/5"
    >
      <div class="aspect-[16/9] md:aspect-[21/9] w-full">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8218631930577!2d103.8451894!3d1.2805585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19761e059171%3A0x37123f933e3de573!2sProud%20Potato%20Peeler!5e0!3m2!1sen!2sid!4v1764527675679!5m2!1sen!2sid"
          class="w-full border-0"
          height="100%"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
